/* style.css */
.css-1d391kg, .css-1dp5vir, .css-1v3fvcr {
    font-size: 18px !important;
    font-weight: 600 !important;
    white-space: nowrap !important;
    overflow: visible !important;
    text-overflow: unset !important;
}

.css-1aumxhk {
    background-color: #f9f9f9 !important;
    border-radius: 12px !important;
    padding: 12px !important;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.05) !important;
}
